[Desktop Entry]
Name=CChat
Exec=webapp-container --app-id="cchat.henri2h" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
