[Desktop Entry]
Name=UbMessenger
Exec=webapp-container --app-id="ubmessenger.henri2h" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
